.playerList {
  list-style-type: none;
}

.playerList li a {
  text-decoration: none;
}

.config {
  font-size: 1.2rem;
  margin: 2rem;
  width: 90%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
