.kitty {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kittyPrize {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.kittyCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
