/* TODO: simply this */

.buttonAmber {
  background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
  font: inherit;
  background-color: #044599;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  border-radius: 1rem;
}

.buttonGreen {
  background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
  font: inherit;
  background-color: #044599;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  border-radius: 1rem;
}

.buttonSilver {
  background-image: linear-gradient(to bottom, silver, 0, grey, 100%);
  font: inherit;
  background-color: #044599;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  border-radius: 1rem;
}

.buttonDefault {
  font: inherit;
  background-color: #044599;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  border-radius: 1rem;
}

.buttonDefault:hover,
.buttonDefault:active {
  background: #6495ed;
  border-color: #6495ed;
}

.button:focus {
  outline: none;
}
